.grid
	//- header.header
	//- 	a(ui-sref='home', ui-sref-active='active') Home
	//- 	a(ui-sref='cases', ui-sref-active='active') Cases
	//- 	a(ui-sref='blog', ui-sref-active='active') Blog
	//- 	a(ui-sref='about', ui-sref-active='active') About 

	.tiles.clearfix
		a.tile(
			ng-repeat='tile in home.tiles',
			ng-class='{big: tile.class === "big", medium: tile.class === "medium"}',
			ui-sref='tile({id: tile.id})'
		) Tile {{tile.id}}
