.grid
	//- header.header
	//- 	a(ui-sref='home', ui-sref-active='active') Home
	//- 	a(ui-sref='cases', ui-sref-active='active') Cases
	//- 	a(ui-sref='blog', ui-sref-active='active') Blog
	//- 	a(ui-sref='about', ui-sref-active='active') About 

	.tiles.clearfix
		a.tile.big(href='#') Tile 1
		a.tile(href='#') Tile 2
		a.tile(href='#') Tile 3
		a.tile(href='#') Tile 4
		a.tile(href='#') Tile 5
		a.tile(href='#') Tile 6
		a.tile(href='#') Tile 7
		a.tile.wide(href='#') Tile 8
		a.tile(href='#') Tile 9
		a.tile(href='#') Tile 10
		a.tile(href='#') Tile 11
		a.tile(href='#') Tile 12
		a.tile(href='#') Tile 13
		a.tile(href='#') Tile 14
		a.tile.wide(href='#') Tile 15
		a.tile(href='#') Tile 16
		a.tile(href='#') Tile 17
		a.tile(href='#') Tile 18
		a.tile(href='#') Tile 19
