.grid
	header.header
		a(ui-sref='home', ui-sref-active='active') Home
		a(ui-sref='cases', ui-sref-active='active') Cases
		a(ui-sref='blog', ui-sref-active='active') Blog
		a(ui-sref='about', ui-sref-active='active') About 

	.tiles.clearfix
		.tile.big Tile 1
		.tile Tile 2
		.tile Tile 3
		.tile Tile 4
		.tile Tile 5
		.tile Tile 6
		.tile Tile 7
		.tile.wide Tile 8
		.tile Tile 9
		.tile Tile 10
		.tile Tile 11
		.tile Tile 12
		.tile Tile 13
		.tile Tile 14
		.tile.wide Tile 15
		.tile Tile 16
		.tile Tile 17
		.tile Tile 18
		.tile Tile 19
