.header {
  position: absolute;
  top: 0; left: 0;
  width: 100%;
  box-sizing: border-box;
  padding: 0 10px;
  z-index: 5;
  transform: translateY(0);
  transition: transform .2s ease-in-out;
  // background: map-get($mdc-blue, 500);
  // will-change: top, position;

  &.hidden {
    // transform: translateY(-75px);
  }

  .container {
    position: relative;
    overflow: hidden;
  }
}
