extends layouts/sample

block content
  header.header
    h2 Darlan Mendonça

  main(ui-view)

  .container
    mn-image(src='https://d13yacurqjgara.cloudfront.net/users/776185/screenshots/2344191/drib.gif')
    mn-image(src='http://timesofindia.indiatimes.com/thumb/msid-50822100,width-400,resizemode-4/50822100.jpg')
  //- mn-image(src='https://d13yacurqjgara.cloudfront.net/users/776185/screenshots/2344191/drib.gif')

  //- .card-slider
    md-card.md-padding(style='background-color: #eccd6d') generator-bitch
    md-card.md-padding(style='background-color: rgb(233,30,99); color: #fff') Trevor
    md-card.md-padding(style='background-color: #1c232a; color: #eccd6d') Rawfit
    md-card.md-padding(style='background-color: #3a92c8; color: #fff') Material Shop
    md-card.md-padding(style='background-color: #dd1d4c; color: white') Axis.idea
    md-card.md-padding lorem ipsum
    md-card.md-padding lorem ipsum
