extends layouts/sample

block content
  .layout-fullscreen.layout-centered
    header.header
      h2 Darlan Mendonça

    h1 I build rich experiences with clean code
      small using Javascript and Swift

    style.
      #scroll {
        width: 100vw;
        overflow-x: scroll;
        overfloy-y: visible;
        margin: -100px 0;
        -webkit-overflow-scrolling: touch;
      }

      .scroll {
        white-space: nowrap;
        overflow: visible;
        padding: 100px 0;
      }

      mn-image {width: 33vw}
      @media (max-width: 500px) {
        mn-image {width: 80vw; pointer-events: none}
      }

      

    nav.layout-row#scroll
      .scroll
        a(href='#'): mn-image(src='/public/imgs/bb-bitch.gif')
        a(href='#'): mn-image(src='/public/imgs/rawfit.jpg')
        a(href='#'): mn-image(src='/public/imgs/cat.jpg')
        a(href='#'): mn-image(src='/public/imgs/bb-bitch.gif')
        a(href='#'): mn-image(src='/public/imgs/rawfit.jpg')
        a(href='#'): mn-image(src='/public/imgs/cat.jpg')

    footer.align-end
      small this site is under development...


    script.
      document
        .querySelector('.scroll')
        .addEventListener('onscroll', blurMnImage);

      var mnImages = Array.prototype.slice.call(document.querySelectorAll('mn-image'));

      function blurMnImage() {
        //- console.log('scroll');
        mnImages.forEach(blur);

        function blur(mnImage) {
          mnImage.blur();
        }
      }
