.grid {
	padding: 0;
	max-width: 994px;
	margin: 0 auto;

	@media (max-width: 994px) {max-width: 748px}
	@media (max-width: 748px) {max-width: 502px}
}

.tiles {
	// margin: 10px 0 10px;
	// outline: 1px solid red;
	padding: 5px;
}

.tile {
	margin: 5px;
	float: left;
	display: inline-block;
	max-width: calc(50vw - 15px);
	background-color: #50C5B7;
	box-sizing: border-box;
	width: 236px;
	height: 210px;
	padding: 20px;
	outline: 0;
	border-radius: 1px;
	color: white;
	text-shadow: 1px 1px 0 rgba(0, 0, 0, .1);
	text-decoration: none;
	transition: box-shadow .2s ease, transform .2s cubic-bezier(.37,.9,.5,1), opacity .2s ease;
	box-shadow: 0 0 0 rgba(0, 0, 0, 1), inset 0 0 0 1px rgba(0, 0, 0, .1);

	&:hover, &:focus {
		box-shadow: 0 0 2px rgba(0, 0, 0, .4), inset 0 0 0 1px rgba(0, 0, 0, .3);
		transform: scale(1.02);
	}

	&.big {
		background-color: #DD1D4C;
		width: 482px;
		height: 430px;
		max-width: calc(100vw - 20px);
	}

	&.medium {
		background-color: #6184DB;
		width: 482px;
		height: 210px;
		max-width: calc(100vw - 20px);
	}
}
