/* inject:imports */
/* endinject */

$black: #000;
$light-gray: #ccc;
$soft-gray: #aaa;

@import 'components/reset';
@import 'components/typography';
@import 'components/header';
@import 'components/tiles';

.viewport-full {
	width: 100vw;
	height: 100vh;
	background: #50C5B7;
}
