.layout-fullscreen.layout-centered
    header.header
      h2 Darlan Mendonça

    h1 I build rich experiences with clean code
      small with Javascript and Swift

    nav.layout-column.layout-sm-row
      a(href='#'): mn-image(src='https://d13yacurqjgara.cloudfront.net/users/776185/screenshots/2344191/drib.gif')
      a(href='#'): mn-image(src='http://timesofindia.indiatimes.com/thumb/msid-50822100,width-400,resizemode-4/50822100.jpg')
      a(href='#'): mn-image(src='http://www.businessinsider.com/image/4f3433986bb3f7b67a00003c/cute-cat.jpg')

