extends layouts/sample

block content
  #particles(particles)

  header.header
    h2 Darlan Mendonça

  main(ui-view)

  .card-slider
    md-card.md-padding.code(style='background-color: #eccd6d') gerator-bitch
    md-card.md-padding.case(style='background-color: #dd1d4c; color: white') Axis.idea
    md-card.md-padding.case(style='background-color: #1c232a; color: #eccd6d') Rawfit
    md-card.md-padding lorem ipsum
    md-card.md-padding lorem ipsum
    md-card.md-padding lorem ipsum
    md-card.md-padding lorem ipsum
