extends layouts/sample

block content
  #particles(particles)

  header.header: .container
    h2 Darlan Mendonça
    a(ui-sref='home') Home
    a(ui-sref='resume') Resume

  main(ui-view)

  .card-slider
    md-card.md-padding lorem ipsum
    md-card.md-padding lorem ipsum
    md-card.md-padding lorem ipsum
    md-card.md-padding lorem ipsum
    md-card.md-padding lorem ipsum
    md-card.md-padding lorem ipsum
    md-card.md-padding lorem ipsum
