extends layouts/sample

block content
  #particles(particles)

  header.header: .container
    h2 Darlan Mendonça
    
  main(ui-view)

  .card-slider
    md-card.md-padding lorem ipsum
    md-card.md-padding lorem ipsum
    md-card.md-padding lorem ipsum
    md-card.md-padding lorem ipsum
    md-card.md-padding lorem ipsum
    md-card.md-padding lorem ipsum
    md-card.md-padding lorem ipsum
