doctype html
html(ng-app='portfolium')
  head
    title Darlan Mendonça
    base(href='/')

    include ../templates/meta
    include ../templates/favicons
    include ../templates/styles
  body
    block content
      
    block scripts
      include ../templates/scripts
