.container
  p Home

.card-slider
  md-card.md-padding lorem ipsum
  md-card.md-padding lorem ipsum
  md-card.md-padding lorem ipsum
  md-card.md-padding lorem ipsum
  md-card.md-padding lorem ipsum
  md-card.md-padding lorem ipsum
  md-card.md-padding lorem ipsum

