/* inject:imports */
/* endinject */

@import 'components/reset';
@import 'components/typography';


body {
  padding: 0 10px;
  box-sizing: border-box;
}

h1 {
  text-align: center;

  small {
    font-weight: normal;
    font-size: .5em;
    display: block;
  }
}

nav {
  margin-top: 2em;
}

mn-image {
  margin: 0 2em;
}
