/* inject:imports */
/* endinject */

@import 'components/reset';
@import 'components/typography';

h1 {
  text-align: center;
  margin-bottom: 2em;

  small {
    font-weight: normal;
    font-size: .5em;
    display: block;
    line-height: 2em;
  }
}

nav {
  margin-top: 2em;

  a {outline: 0}
}

mn-image {
  margin: 1em;
}
